.card-proyect:hover {
    cursor: pointer;
}

/* .contenedor-proyecto {
    margin: 25px;
    padding: 25px;
    border-style: solid !important;
    border: 2px;
} */

.contenedor-proyecto {
    --x: 50%;
    --y: 50%;
    margin: 25px;
    position: relative;
    appearance: none;
    padding: 3em 3em;
    color: black;
    border-top: 2px solid transparent;
    /* border: 2px solid transparent; */
    background: linear-gradient(#fff, #fff) padding-box, radial-gradient(farthest-corner at var(--x) var(--y), #00C9A7, #845EC2) border-box;
}

.imagen-proyecto {
    padding: 0px;
    position: relative;
    background: white;
    border-radius: 0% 0% 0% 0% / 0% 0% 0% 0%;
    color: white;
    box-shadow: 20px 20px rgba(0, 0, 0, .15);
    transition: all .4s ease;
}

.imagen-proyecto:hover {
    border-radius: 0% 0% 50% 50% / 0% 0% 5% 5%;
    box-shadow: 10px 10px rgba(0, 0, 0, .25);
}

@media (max-width: 766px) {
    .contenedor-proyecto {
        padding: 0px;
        margin: 5px;
    }
    .imagen-proyecto {
        height: 300px;
    }
}

/* --------------- */
.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.35s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}