main#Hero h1.me-llamo {
    font-size: 1.2em;
    text-align: left !important;
}

main#Hero h2.cargo {
    /* margin-top: 0px; */
}

main#Hero h3.funciones {
    margin-top: 12px;
}

main#Hero a.contactar {
    margin-top: 15px;
}