/*==================== GOOGLE FONTS ====================*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,600&display=swap');
/*==================== VARIABLES CSS ====================*/

:root {
    --header-height: 3rem;
    /*========== Colors ==========*/
    /* Change favorite color */
    --hue-color: 250;
    /*Purple 250 - Green 142 - Blue 230 - Pink 340*/
    /* HSL color mode */
    --first-color: hsl(var(--hue-color), 69%, 61%);
    --first-color-second: hsl(var(--hue-color), 69%, 61%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --container-color: #FFF;
    --container-color-alt: #F0EFEF;
    --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);

    --gray-color: hsl(var(--hue-color), 20%, 90%);
    /*========== Font and typography ==========*/
    --body-font: 'Poppins', sans-serif;
    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;
    /*========== Margenes Bottom ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;
    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 100;
}

/* Font size for large devices */

@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/*========== Variables Dark theme ==========*/

body.dark-theme {
    /* HSL color mode */
    --first-color-second: hsl(var(--hue-color), 30%, 8%);
    --title-color: hsl(var(--hue-color), 8%, 95%);
    --text-color: hsl(var(--hue-color), 8%, 75%);
    --input-color: hsl(var(--hue-color), 29%, 16%);
    --body-color: hsl(var(--hue-color), 28%, 12%);
    --container-color: hsl(var(--hue-color), 29%, 16%);
    --scroll-bar-color: hsl(var(--hue-color), 12%, 48%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 36%);

    --gray-color: hsl(var(--hue-color), 30%, 25%);
}

/* --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%); */

/*==================== BASE ====================*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    overflow-x: hidden;
}

h1, h2, h3, h4 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/*==================== REUSABLE CSS CLASSES ====================*/

.section {
    padding: 2rem 0 4rem;
}

.section__title {
    font-size: var(--h1-font-size);
}

.section__subtitle {
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-3);
}

.section__title, .section__subtitle {
    text-align: center;
}

/*==================== LAYOUT ====================*/

.container {
    max-width: 768px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.grid {
    display: grid;
    gap: 1.5rem;
}

/*==================== NAV ====================*/

/* show menu */

/* Active link */

.active-link {
    color: var(--first-color) !important;
}

/* Change background header */

.scroll-header {
    box-shadow: 0 -1px 4px rgba(0, 0, 0, .15);
}

/*==================== HOME ====================*/

/*==================== BUTTONS ====================*/

.button {
    display: inline-block;
    background-color: var(--first-color);
    color: #FFF;
    padding: 1rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
    cursor: pointer;
}

.button:hover {
    background-color: var(--first-color-alt);
}

.button__icon {
    font-size: 1.2rem;
    margin-left: var(--mb-0-5);
    transition: .3s;
}

.button--flex {
    display: inline-flex;
    align-items: center;
}

.button--small {
    padding: .75rem 1rem;
}

.button--link {
    padding: 0;
    background-color: transparent;
    color: var(--first-color);
}

.button--link:hover {
    background-color: transparent;
    color: var(--first-color-alt);
}

/*==================== ABOUT ====================*/

/*==================== SKILLS ====================*/

/*==================== QUALIFICATION ====================*/

/*==================== SERVICES ====================*/

/* Active Modal */

/*==================== PORTFOLIO ====================*/

/*==================== PROJECT IN MIND ====================*/

/*==================== TESTIMONIAL ====================*/

/*==================== CONTACT ME ====================*/

/*==================== FOOTER ====================*/

/*========== SCROLL UP ==========*/

/* Show scroll */

.show-scroll {
    bottom: 5rem !important;
}

/*========== SCROLL BAR ==========*/

::-webkit-scrollbar {
    width: .60rem;
    background-color: var(--scroll-bar-color);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb {
    background-color: var(--scroll-thumb-color);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--text-color-light);
}

/*==================== MEDIA QUERIES ====================*/

/* For small devices */

@media screen and (max-width: 350px) {
    .container {
        margin-left: var(--mb-1) !important;
        margin-right: var(--mb-1) !important;
    }
    /** MENÚ */
    /* .nav__menu {
        padding: 2rem .25rem 4rem !important;
    }
    .nav__list {
        column-gap: 0 !important;
    } */
    /** Home */
    .home__content {
        grid-template-columns: .25fr 3fr !important;
    }
    .home__blob {
        width: 180px !important;
    }
    /** Skills */
    .skills__title {
        font-size: var(--normal-font-size) !important;
    }
    /** Qualification */
    .qualification__data {
        gap: .5rem !important;
    }
    /** Services */
    .services__container {
        grid-template-columns: max-content !important;
        justify-content: center;
    }
    .services__content {
        padding-right: 3rem !important;
    }
    .services__modal {
        padding: 0 .5rem !important;
    }
    /** Project */
    .project__img {
        width: 200px;
    }

    .work__item {
        font-size: var(--small-font-size);
    }

    .work__filters {
        column-gap: .05rem;
    }
    /** Testimonial */
    .testimonial__data, .testimonial__header {
        flex-direction: column;
        align-items: center;
    }
    .testimonial__img {
        margin-right: 0;
        margin-bottom: var(--mb-0-25);
    }
    .testimonial__data, .testimonial__description {
        text-align: center;
    }
}

/* For medium devices */

@media screen and (min-width: 568px) {
    /** Home */
    .home__content {
        grid-template-columns: max-content 1fr 1fr !important;
    }
    .home__data {
        grid-column: initial !important;
    }
    .home__img {
        order: 1;
        justify-self: center;
    }
    /** About and Skills and Portfolio and project and Contact and Footer */
    .about__container, .skills__container, .portfolio__content, .project__container, .contact__container, .footer__container {
        grid-template-columns: repeat(2, 1fr);
    }
    /** Qualification */
    .qualification__sections {
        display: grid;
        grid-template-columns: .6fr;
        justify-content: center;
    }
    /** Portfolio */
    .work__container {
        justify-content: center;
    }
    .work__img {
        width: 295px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        margin-left: auto;
        margin-right: auto;
    }
    body {
        margin: 0;
    }
    .section {
        padding: 6rem 0 2rem;
    }
    .section__subtitle {
        margin-bottom: 4rem;
    }
    /** MENÚ */
    /* header {
        top: 0 !important;
        bottom: initial !important;
    } */
    /* .header,  */
    .main, .footer__container {
        padding: 0 1rem;
    }
    /* .nav {
        height: calc(var(--header-height) + 1.5rem) !important;
        column-gap: 1rem !important;
    }
    .nav__icon, .nav__close, .nav__toggle {
        display: none;
    }
    .nav__list {
        display: flex;
        column-gap: 2rem;
    }
    .nav__menu {
        margin-left: auto;
    }
    .change-theme {
        margin: 0px !important;
    } */
    /** HOME */
    .home__container {
        row-gap: 5rem !important;
    }
    .home__content {
        padding-top: 5.5rem !important;
        column-gap: 2rem;
    }
    .home__blob {
        width: 270px !important;
    }
    .home__scroll {
        display: block !important;
    }
    .home__scroll-button {
        margin-left: 3rem;
    }
    /** About */
    .about__container {
        column-gap: 5rem;
    }
    .about__img {
        width: 350px !important;
    }
    .about__description {
        text-align: initial !important;
    }
    .about__info {
        justify-content: space-between !important;
    }
    .about__buttons {
        justify-content: initial !important;
    }
    /** Qualification */
    .qualification__tabs {
        justify-content: center !important;
    }
    .qualification__button {
        margin: 0 var(--mb-1);
    }
    .qualification__sections {
        grid-template-columns: .5fr;
    }
    /** Services */
    .services__container {
        grid-template-columns: repeat(3, 218px) !important;
        justify-content: center;
    }
    .services__icon {
        font-size: 2rem !important;
    }
    .services__content {
        padding: 6rem 0 2rem 2.5rem !important;
    }
    .services__modal-content {
        width: 450px;
    }
    /** Portfolio */
    .portfolio__img {
        width: 320px !important;
    }
    .portfolio__content {
        align-items: center;
    }
    .work__container {
        grid-template-columns: repeat(2, max-content);
    }
    /** Project */
    .project {
        text-align: initial;
    }
    .project__bg {
        background: none;
    }
    .project__container {
        background-color: var(--first-color-second);
        border-radius: 1rem;
        padding: 3rem 2.5rem 0;
        grid-template-columns: 1fr max-content;
        column-gap: 3rem;
    }
    .project__data {
        padding-top: .8rem;
    }
    /** Footer */
    .footer__container {
        grid-template-columns: repeat(3, 1fr);
    }
    .footer__bg {
        padding: 3rem 0 3.5rem !important;
    }
    .footer__links {
        flex-direction: row !important;
        column-gap: 2rem;
    }
    .footer__socials {
        justify-self: flex-end;
    }
    .footer__copy {
        margin-top: 4.5rem !important;
    }
}

/* For large devices */

@media screen and (min-width: 1024px) {
    /* .header, */
    .main, .footer__container {
        padding: 0;
    }
    /** Home */
    .home__blob {
        width: 320px !important;
    }
    .home__social {
        transform: translateX(-6rem);
    }
    /** Services */
    .services__container {
        grid-template-columns: repeat(3, 238px) !important;
    }
    /** portfolio */
    .portfolio__content {
        column-gap: 5rem;
    }
    .swiper-portfolio-icon {
        font-size: 3.5rem !important;
    }
    .swiper-button-prev {
        left: -3.5rem !important;
    }
    .swiper-button-next {
        right: -3.5rem !important;
    }
    .swiper-container-horizontal>.swiper-pagination-bullets {
        bottom: -4.5rem !important;
    }
    .work__container {
        gap: 3rem;
    }
    .work__card {
      padding: 1.25rem;  
    }
    .work__img {
        margin-bottom: 1rem;
    }
    .work__title {
        margin-bottom: .5rem;
    }
    /** Contact */
    .contact__form {
        width: 460px;
    }
    .contact__inputs {
        grid-template-columns: repeat(2, 1fr);
    }
}